.container {
  height: 80vh;
  width: 70vw;
  padding: 40px 0px 100px 0px;
  border-radius: 10px 10px 10px 20px;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  position: relative;
  gap: 50px;
  margin-top: 35px;
  background-color: white;
}
.participants-container {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
}
.balance{
  width: 250px;
}
.detail-img {
  position: absolute;
  height: 100px;
  left: 250px;
}
.button-group {
  position: absolute;
  display: flex;
  gap: 15px;
  top: 0;
}
